/* CSS COMMENT */
.page-title {
  color: cornflowerblue;
}
#hot1 {
  color: darkgoldenrod;
}
#cold1 {
  color: peru;
}
#espresso1 {
  color: chocolate;
}
/* MAIN PAGE STYLES */
.main-page .page-title {
  color: brown;
}
/* HOT PAGE STYLES */
/* styles main body */
.main-hot {
  font-size: 18px;
}
/* styles h1 */
.hot-text {
  color: blue;
  font-size: 20px;
  font-size: 1rem;
  margin-top: 29px;
  margin-bottom: 28px;
}
.random-text {
  font-size: 30px;
}
/* styles for list */
