html {
    height: 100%;
}

.page-title{color: #12343B}

img[src*=bullet] {
    width: 20px;
    height: 16px;
}

.index1 {
    background-image: linear-gradient(#C89666, #E1B382);
    background-attachment: fixed;
}

.index2 {
    background-image: url("images/BearInManhattan.png");
    background-size: 100% auto;
}

main {
    position: relative;
}

h1, p, td {
    text-align: center;
}

table {
    margin: 0 auto;
}

.scrollmain {
    width: 600px;
    height: 200px;
    text-align: center;
    margin: auto;    
}

.slidertag {
    text-align: center;
}
    
.slider-shot {
    width: 42%;
    text-align: center;
    margin: 0 auto;
    opacity: 0.7;
    height: 23px;
    border: 0;
    cursor: pointer;
}
    
.slider-shot:hover {
    opacity: 1; 
}

.recipe-ratio td {
    border: 2px outset #2D545E;
    border-radius: 2px;
}

.recipe-header {
    background-position: center;
    background-size: cover;
    height: 400px;
    position: sticky;
    top: 0;
}

.recipe-header__title {
    background-color: #05A8AA;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    width: 68%;
    padding: 10px;
    margin: 0 auto;
}

/* swap images for smoother clipart */

.recipe-header.aero {
    background-image: url("images/aeropress-bg.jpeg");
}

.recipe-header.affo {
    background-image: url("images/affogato-bg.jpeg");
}

.recipe-header.amer {
    background-image: url("images/americano-bg.jpeg");
}

.recipe-header.capp {
    background-image: url("images/cappuccino-bg.jpeg");
}

.recipe-header.chem {
    background-image: url("images/chemex-bg.jpeg");
}

.recipe-header.coldb {
    background-image: url("images/coldbrew-bg.jpeg");
}

.recipe-header.drip {
    background-image: url("images/drip-bg.jpeg");
}

.recipe-header.esp {
    background-image: url("images/bottomless-espresso-bg.jpeg");
}

.recipe-header.flat {
    background-image: url("images/flatwhite-bg.jpeg");
}

.recipe-header.french {
    background-image: url("images/frenchpress-bg.jpeg");
}

.recipe-header.icedc {
    background-image: url("images/iced-coffee-bg.jpeg");
}

.recipe-header.icedl {
    background-image: url("images/icedlatte-bg.jpeg");
}

.recipe-header.icedm {
    background-image: url("images/icedmacchiato-bg.webp");
}

.recipe-header.latte {
    background-image: url("images/latte-bg.jpeg");
}

.recipe-header.macch {
    background-image: url("images/macchiato-bg.jpeg");
}

.recipe-header.mocha {
    background-image: url("images/mocha-bg.jpeg");
}

.recipe-header.moka {
    background-image: url("images/mokapot-bg.jpeg");
}

.recipe-header.pour {
    background-image: url("images/pourover-bg.jpeg");
}