.page-title{color:cornflowerblue}
#hot1{color:darkgoldenrod}
#cold1{color:peru}
#espresso1{color:chocolate}

img[src*=bullet] {
    width: 20px;
    height: 16px;
}

.fpress {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

td:hover {
    background-color:aqua;
}

h1, p, td {
    text-align: center;
}

table {
    margin: 0 auto;
}

.aff1 td {
    border: 2px outset #1FCBDB;
    border-radius: 2px;
}

.affogato {
    background-image: url(images/affogato-bg.jpeg);
    height: 500px;
    opacity: 0.3;
}